name: Frontend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    name: Build & Push Frontend Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::973530737784:role/github-oidc-role
          aws-region: ap-south-1
          audience: sts.amazonaws.com
          output-env-credentials: true

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t frontend:latest .

      - name: Tag Docker image
        run: |
          docker tag frontend:latest ${{ secrets.ECR_FRONTEND_URI }}:latest

      - name: Push Docker image to ECR
        run: |
          docker push ${{ secrets.ECR_FRONTEND_URI }}:latest

  deploy:
    name: Deploy Frontend Service to ECS
    needs: build_and_push
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Force new ECS Deployment
        run: |
          aws ecs update-service \
            --cluster ${{ secrets.CLUSTER_NAME }} \
            --service ${{ secrets.FRONTEND_SERVICE_NAME }} \
            --force-new-deployment
